server {
	listen 80;
	listen [::]:80;
	listen 443 ssl;
	server_name {{ acme_domain_name }};

	ssl_certificate {{ acme_letsencrypt_certs_dir }}/fullchain_{{ acme_domain_name }}.pem;
	ssl_certificate_key {{ acme_letsencrypt_keys_dir }}/{{ acme_domain_name }}.key;

	large_client_header_buffers 4 32k;

	location ^~ /.well-known/acme-challenge {
	  allow all;
	  root /var/www/html;
	}	

	location / {
          proxy_set_header Host $http_host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Host $http_host;
          proxy_set_header X-Forwarded-Proto $scheme;
	  proxy_pass $scheme://{{ acme_private_ip }};
	}
}